# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Developer note: near.gitignore will be renamed to .gitignore upon project creation
# dependencies
/node_modules
/.cache
/dist
neardev
contract/target
Cargo.lock