#page {
    padding: 2em;
}

h1 {
    margin-bottom: 1em;
}

#crossword-wrapper .clue.correct::before {
    content: "✓";
    display: inline-block;
    text-decoration: none;
    color: rgb(100, 200, 100);
    margin-right: 0.25em;
}

#crossword-wrapper {
    margin-top: 2em;
}

#messages {
    background-color: rgb(230, 230, 230);
    margin: 1em 0;
    padding: 1em;
}

@font-face {
    font-family: 'Inter';
    src:  url('./fonts/static/Inter-Regular.ttf') format('ttf'),
    url('./fonts/static/Inter-Medium.ttf') format('ttf');
}

body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.important {
    font-size: 1.9rem;
    color: #FF585D;
}

.claim-inputs {
    margin-top: 30px
}

.claim-inputs label {
    font-size: 1.3em;
}

/*#claim-memo, #claim-account-id, .btn {*/
/*    border-radius: 5px;*/
/*    border: .1em solid #000;*/
/*    padding: .5em 1em;*/
/*    font-size: 1.66em;*/
/*    margin: .5em;*/
/*}*/

/*.claim-inputs .btn {*/
/*    margin: .5em;*/
/*}*/

#page h1, #page.no-puzzles {
    text-align: center;
}

#page.claim {
    margin: 0 auto;
    width: 576px;
}

#claim-status {
    background-color: #ff585d;
    border-radius: 6px;
}

#claim-status.hide {
    display: none;
}

#claim-status.show {
    display: block;
}

#claim-status p {
    padding: 1.5em;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
}

#seed-phrase-wrapper {
    display: none;
    background-color: #FAF8D1;
    border-radius: 6px;
}

#seed-phrase-wrapper.hide {
    display: none;
}

#seed-phrase-wrapper.show {
    display: block;
}

#seed-phrase-wrapper h3 {
    padding: .5em .5em 0;
}

#seed-phrase-wrapper p {
    padding: .5em;
    font-size: 1.3em;
}

#seed-phrase-wrapper #seed-phrase {
    font-size: 1.7em;
    color: #ff585d;
}

.grid-flow-row {
    grid-auto-flow: row;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-row-dense {
    grid-auto-flow: row dense;
}

.grid-flow-col-dense {
    grid-auto-flow: column dense;
}

.main-area .grid.success-links {
    display: grid;
    max-width: 100%;
    margin-top: 50px;
}

.success-links > div {
    display: flex;
    flex-direction: column;
}

.success-links .success-links-center {
    margin: 0 auto;
}

.success-links .success-link-border-right {
    border-right: 1px solid #ccc;
}

.no-puzzles .btn {
    height: 75px;
}